/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar, .author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description, .author-box {
	background-color: #fff;
	font-size: 16px;
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	font-size: 16px;
	margin-bottom: 4px;
}

.archive-description p:last-child, .author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
	position: relative;
	input {
		padding-left: 26px;
		line-height: 20px;
	}
	&:after {
		color: #ccc;
		line-height: 24px;
		font-size: 14px;
		content: "\f002";
		position: absolute;
		left: 10px;
		top: 6px;
		font-family: FontAwesome;
	}
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form, .site-header .search-form {
	width: 50%;
}

.genesis-nav-menu .search input[type="submit"], .widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sidebar .widget input[type="search"] {
	width: 100%;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.entry-title {
	font-size: 36px;
	a {
		color: #333;
	}
}

.sidebar .widget-title a {
	color: #333;
}

.entry-title a:hover {
	color: #e5554e;
}

.widget-title {
	font-size: 18px;
	margin-bottom: 20px;
}

.footer-widgets .widget-title {
	color: #fff;
}

/* ## WordPress
--------------------------------------------- */

a {
	&.aligncenter img {
		display: block;
		margin: 0 auto;
	}
	&.alignnone {
		display: inline-block;
	}
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a {
	&.alignleft, &.alignnone, &.alignright {
		max-width: 100%;
	}
}

img.centered, .aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone, .alignnone {
	margin-bottom: 12px;
}

a.alignleft, img.alignleft, .wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright, img.alignright, .wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {}

.image-caption {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-size: 13px;
	line-height: 1.3em;
	font-style: italic;
	padding: 8px 10px;
	position: absolute;
	bottom: 8px;
	left: 8px;
	margin-right: 8px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.03);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.03);
}

/*  common : page title
/* ------------------------------------ */

.page-title {
	background: #fff;
	position: relative;
	padding-top: 18px;
	padding-bottom: 17px;
	border-bottom: 1px solid #eee;
	color: #666;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 24px;
	a {
		color: #aaa;
		&:hover {
			color: #444;
		}
	}
	span {
		color: #aaa;
	}
	i {
		margin-right: 8px;
	}
	h1, h2, h4 {
		color: #666;
	}
	.meta-single li {
		float: left;
		margin-right: 14px;
		&.comments {
			float: right;
			margin-right: 0;
		}
	}
}

/*  common : pagination
/* ------------------------------------ */

.pagination {
	margin-bottom: 15px;
	a {
		font-size: 18px;
		font-weight: 600;
	}
}