/* RESPONSIVE  -------- */

#wrapper, .container-inner {
	min-width: 320px;
}

@media only screen and (max-width: 1200px) {
	#header-ads {
		display: none;
	}
}

/* ------------------------------------------------------------------------- *
 *  Mobile (Mid Res) : 719px > 0px (480px & 320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 719px) {
	/* make collapsed sidebars 40px wide instead of 50px */
	.s1, .s2 {
		width: 40px;
	}
	/* 2 column, content right */
	.col-2cr {
		.main-inner {
			background-position: -300px 0 !important;
			padding-left: 40px;
		}
		.s1 {
			margin-left: -40px;
		}
	}
	/* 2 column, content left */
	.col-2cl {
		.main-inner {
			background-image: url(img/sidebar/s-right-collapse-40.png);
			padding-right: 40px;
		}
		.s1 {
			margin-right: -40px;
		}
	}
	/* 3 column, content middle */
	.col-3cm {
		.main {
			background: url(img/sidebar/s-right-collapse-40.png) repeat-y right;
		}
		.main-inner {
			background-position: -300px 0 !important;
			padding-left: 40px;
			padding-right: 40px;
		}
		.s1 {
			margin-left: -40px;
		}
		.s2 {
			margin-right: -40px;
		}
	}
	/* 3 column, content left */
	.col-3cl {
		.main-inner {
			background: url(img/sidebar/s-right-dual-full-collapse-40.png) repeat-y right;
			padding-right: 80px;
		}
		.s1 {
			margin-right: -80px;
		}
		.s2 {
			margin-right: -40px;
		}
		&.s2-expand .s2 {
			right: 40px;
		}
	}
	/* 3 column, content right */
	.col-3cr {
		.main-inner {
			background: url(img/sidebar/s-left-dual-full-collapse-40.png) repeat-y left;
			padding-left: 80px;
		}
		.s1 {
			margin-left: -80px;
		}
		.s2 {
			margin-left: -40px;
		}
		&.s2-expand .s2 {
			left: 40px;
		}
	}
	/* layout */
	.container {
		padding: 0;
	}
	.grid {
		width: 100%;
		margin: 0 0 10px;
	}
	/* hide */
	.site-description, .image-caption {
		display: none;
	}
	/* base */
	.pad {
		padding: 20px 20px 10px;
	}
	.notebox {
		margin-bottom: 20px;
	}
	#flexslider-featured {
		margin-top: 10px;
	}
	.entry {
		font-size: 15px;
		h1 {
			font-size: 30px;
			letter-spacing: -0.7px;
		}
		h2 {
			font-size: 26px;
			letter-spacing: -0.5px;
		}
		h3 {
			font-size: 24px;
			letter-spacing: -0.3px;
		}
		h4 {
			font-size: 22px;
			letter-spacing: -0.3px;
		}
		h5 {
			font-size: 18px;
		}
		h6 {
			font-size: 16px;
			text-transform: uppercase;
		}
	}
	/* text */
	/* header */
	#header {
		padding-bottom: 0;
	}
	.topbar-enabled #header {
		padding-top: 0;
	}
	#header .pad {
		padding-top: 0;
		padding-bottom: 0;
	}
	.site-title {
		padding: 30px 0;
		width: 100%;
		float: none;
		line-height: 50px;
		a {
			text-align: center;
		}
	}
	.toggle-search {
		right: auto;
		left: 0;
		top: 0;
		-webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
		box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
	}
	.search-expand {
		left: 0;
		right: auto;
		top: 50px;
		width: 320px;
	}
	/* footer */
	#footer-bottom {
		.pad {
			padding-top: 50px;
			padding-bottom: 40px;
		}
		.one-half.last {
			margin-bottom: 0;
		}
		text-align: center;
		#footer-logo {
			margin-left: auto;
			margin-right: auto;
		}
		.social-links {
			float: none;
			li {
				margin-left: 4px;
				margin-right: 4px;
			}
		}
	}
	/* comments */
	.comment-tabs {
		font-size: 14px;
	}
	.commentlist li {
		font-size: 13px;
		ul li {
			padding-left: 10px;
		}
	}
	/* page */
	#page {
		margin-top: 0;
		padding-bottom: 10px;
	}
	.pagination {
		margin-bottom: 30px;
	}
	.page-title {
		font-size: 14px;
	}
	.page-image-text {
		margin-top: -15px;
		.caption {
			font-size: 26px;
			line-height: 30px;
		}
		.description {
			font-size: 13px;
		}
	}
	/* blog */
	.post-list {
		margin-left: 0;
		margin-right: 0;
		.post, .page {
			width: 100%;
		}
		.post-row {
			margin-left: 0;
			padding-left: 0;
		}
		.post-inner {
			margin-right: 0;
		}
	}
	.post-standard {
		.post-inner {
			padding-left: 120px;
		}
		.post-thumbnail {
			margin-left: -120px;
			max-width: 100px;
		}
	}
	.featured .post-title, .single .post-title {
		font-size: 22px;
		line-height: 1.5em;
		letter-spacing: 0;
	}
	.post-byline {
		font-size: 13px;
	}
	.post-format {
		margin-bottom: 20px;
	}
	.format-gallery .post-format .flexslider .slides img {
		max-height: 240px;
	}
	.format-quote .post-format blockquote {
		font-size: 18px;
	}
	.format-link .post-format p {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.single .format-status .entry {
		font-size: 20px;
		line-height: 1.4em;
	}
	.post-format .format-container .fa {
		font-size: 28px;
	}
	.entry.share {
		padding-right: 0;
	}
	.sharrre-container {
		position: relative;
		float: left;
		width: auto;
		padding: 0;
		margin: 20px 0 0;
		span {
			text-align: left;
		}
		> div {
			float: left;
			margin-right: 10px;
		}
	}
	.author-bio .bio-desc {
		font-size: 13px;
	}
	.content .post-nav li {
		width: 100%;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		a {
			min-height: 0;
		}
	}
	.single .related-posts .post-title {
		font-size: 15px;
	}
	.related-posts li {
		width: 50%;
		&:nth-child(2) article {
			border-right-color: transparent;
		}
		&:nth-child(3), &:nth-child(4) {
			display: none;
		}
	}
	/* shortcodes */
	.dropcap {
		font-size: 80px;
	}
}

/* ------------------------------------------------------------------------- *
 *  Mobile (Low Res) : 479px > 0 (320px)
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
	/* layout */
	.content {
		width: 100%;
		float: none;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.sidebar {
		width: 100%;
		float: none;
		margin-right: 0 !important;
		margin-left: 0 !important;
		background: #f0f0f0;
		width: 100%;
		display: block;
		float: none;
	}
	.main, .main-inner {
		background-image: none !important;
		padding: 0 !important;
	}
	.s2 {
		right: 0 !important;
		left: 0 !important;
	}
	/* hide */
	.mobile-sidebar-hide-s1 .s1, .mobile-sidebar-hide-s2 .s2, .mobile-sidebar-hide .sidebar {
		display: none;
	}
	/* base */
	.pad {
		padding: 15px 15px 5px;
	}
	.sidebar-top, .sidebar .widget {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.notebox {
		margin-bottom: 15px;
	}
	#flexslider-featured {
		margin-top: 15px;
	}
	.gallery-caption {
		display: none;
	}
	/* header */
	.site-title {
		font-size: 32px;
	}
	/* blog */
	.post-standard {
		.post-inner {
			padding-left: 82px;
		}
		.post-thumbnail {
			margin-left: -82px;
			max-width: 72px;
		}
	}
	.format-link .post-format p {
		margin-bottom: 5px;
	}
}

/* -- Navigation ------- */



@media only screen and (min-width: 720px) {
	.menu-primary {
		height: auto !important;
	}
	/* common */
	.menu {
		font-size: 0;
		position: relative;
		li {
			a {
				color: #ccc;
				display: block;
				line-height: 20px;
				line-height: 1.2em;
			}
			> a:after {
				content: "\f0da";
				float: right;
				opacity: 0.5;
			}
			> a:only-child:after {
				content: "";
				margin: 0;
			}
		}
		> li > a:after {
			content: "\f0d7";
			float: none;
			margin-left: 6px;
			font-size: 14px;
		}
	}
	/* dropdown arrows */
	.site-footer .menu {
		li {
			> a:after {
				content: "\f0da";
			}
			> a:only-child:after {
				content: "";
			}
		}
		> li > a:after {
			content: "\f0d8";
		}
	}
	/* level 1 */
	.menu {
		> li {
			font-size: 16px;
			display: inline-block;
			position: relative;
			> a {
				padding: 15px 14px;
				&:hover {
					background: #777;
				}
			}
			&:hover > a {
				background: #777;
			}
		}
		li {
			> a:hover, &:hover > a, &.current_page_item > a, &.current-menu-item > a, &.current-menu-ancestor > a, &.current-post-parent > a {
				color: #fff;
			}
			&:hover > ul {
				display: block;
			}
		}
		ul {
			display: none;
			background: #777;
			position: absolute;
			left: 0;
			top: 50px;
			width: 180px;
			padding: 10px 0;
			z-index: 3;
			-webkit-transform: translateZ(0);
			-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
			li {
				font-size: 14px;
				position: relative;
				display: block;
				padding: 0;
				a {
					padding: 10px 20px;
				}
				&:last-child {
					border-bottom: 0 !important;
				}
			}
			ul {
				position: absolute;
				top: -10px;
				left: 180px;
			}
		}
	}
	/* level 2 & 3 */
	/* level 3 */
}

@media only screen and (max-width: 719px) {
	.menu {
		font-weight: 600;
	}
	.nav-container {
		text-transform: none;
	}
	.nav-toggle, .nav-text {
		display: block;
	}
	.nav-wrap {
		position: relative;
		float: left;
		width: 100%;
		height: 0;
		overflow: hidden;
		&.transition {
			-webkit-transition: height 0.35s ease;
			-moz-transition: height 0.35s ease;
			-o-transition: height 0.35s ease;
			transition: height 0.35s ease;
		}
	}
	.expand .nav-wrap {
		height: auto;
	}
	/* iphone fix */
	.safari .nav-wrap.transition {
		-webkit-transition: none;
		transition: none;
	}
	/* common */
	.menu {
		float: left;
		width: 100%;
		li {
			a {
				line-height: 20px;
				display: block;
				padding: 8px 20px;
			}
			li a {
				padding-left: 15px;
				padding-right: 15px;
			}
			> a:after {
				content: '\f0d7';
				opacity: 0.5;
				margin-left: 6px;
			}
			> a:only-child:after {
				content: '';
			}
			> a:hover, &.current_page_item > a, &.current-menu-item > a, &.current-post-parent > a {
				color: #fff;
			}
		}
		> li > a:after {
			content: '\f0d7';
			font-size: 14px;
		}
		> li {
			font-size: 15px;
		}
		ul {
			display: block !important;
			margin-left: 40px;
			li {
				font-size: 13px;
				font-weight: 300;
				a {
					padding-top: 6px;
					padding-bottom: 6px;
				}
			}
		}
	}
	/* dropdown arrows */
	/* level 1 */
	/* level 2 & 3 */
}

@media only screen and (min-width: 1025px) {
	/* fixed nav */
	.full-width {
		&.topbar-enabled #header {
			padding-top: 50px;
		}
		.menu-primary {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 999;
		}
		&.admin-bar .menu-primary{
			top: 32px;
		}
	}
}

@media only screen and (min-width: 720px) {
	/* common */
	.menu-primary {
		.wrap {
			padding-left: 15px;
		}
		.menu {
			li {
				a {
					color: #fff;
					color: rgba(255, 255, 255, 0.7);
				}
				> a:hover, &:hover > a, &.current_page_item > a, &.current-menu-item > a, &.current-menu-ancestor > a, &.current-post-parent > a {
					color: #fff;
				}
			}
			> li {
				border-right: none;
				> a:hover, &:hover > a {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
			ul {
				background: #26272b url(img/opacity-10.png) repeat;
				li {
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
					-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
					&:last-child {
						box-shadow: none;
						-webkit-box-shadow: none;
					}
				}
			}
		}
	}
	/* level 1 */
	/* level 2 & 3 */
}

@media only screen and (max-width: 719px) {
	/* common */
	.nav-primary {
		.wrap {
			padding-left: 0;
		}
		.menu li {
			a {
				color: #fff;
				color: rgba(255, 255, 255, 0.8);
				border-top: 1px solid rgba(255, 255, 255, 0.06);
			}
			> a:hover, &.current_page_item > a, &.current-menu-item > a, &.current-post-parent > a {
				background: rgba(0, 0, 0, 0.15);
				color: #fff;
			}
		}
	}
	/* level 1 */
}

@media only screen and (min-width: 720px) {
	/* common */
	.menu {
		li {
			a {
				color: #fff;
				color: rgba(255, 255, 255, 0.7);
			}
			> a:hover, &:hover > a, &.current_page_item > a, &.current-menu-item > a, &.current-menu-ancestor > a, &.current-post-parent > a {
				color: #fff;
			}
		}
		> li {
			border-right: none;
			> a:hover, &:hover > a {
				background: rgba(0, 0, 0, 0.1);
			}
		}
		ul {
			background: #33363b url(img/opacity-10.png) repeat;
			li {
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
				-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
				&:last-child {
					box-shadow: none;
					-webkit-box-shadow: none;
				}
			}
		}
	}
	/* level 1 */
	/* level 2 & 3 */
}

@media only screen and (max-width: 719px) {
	/* common */
	.nav-primary {
			border-left: 0;
			border-right: 0;
		.wrap {
			padding: 0;
		}
		.menu {
			padding-bottom: 20px;
			li {
				a {
					color: #fff;
					color: rgba(255, 255, 255, 0.8);
					border-top: 1px solid rgba(255, 255, 255, 0.06);
				}
				> a:hover, &.current_page_item > a, &.current-menu-item > a, &.current-post-parent > a {
					background: rgba(0, 0, 0, 0.15);
					color: #fff;
				}
			}
		}
	}
	/* level 1 */
}

@media only screen and (min-width: 720px) {
	/* common */
	.menu-footer {
		.wrap {
			text-align: center;
		li {
			a {
				color: #999;
			}
			> a:hover, &:hover > a, &.current_page_item > a, &.current-menu-item > a, &.current-menu-ancestor > a, &.current-post-parent > a {
				color: #666;
			}
		}
		li {
			> a {
				padding: 12px 18px;
			}
			border-right: 0;
			&:first-child {
				border-left: 0;
			}
			> a:hover, &:hover > a {
				background: #f0f0f0;
			}
		}
		ul.sub-menu {
			background: #f0f0f0;
			bottom: 44px;
			top: auto;
			text-align: left;
			-webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
			box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
			li {
				border-bottom: 1px solid #e4e4e4;
			}
			ul {
				top: -10px;
				position: absolute;
				top: auto;
				bottom: -10px;
			}
		}
	}
	/* level 1 */
	/* level 2 & 3 */
	/* level 3 */
}

@media only screen and (max-width: 719px) {
	/* common */
	.nav-footer .nav li {
		a {
			color: #999;
			color: rgba(0, 0, 0, 0.8);
			border-top: 1px solid #f2f2f2;
		}
		> a:hover, &.current_page_item > a, &.current-menu-item > a, &.current-post-parent > a {
			background: #f2f2f2;
			color: #444;
		}
	}
	/* level 1 */
}
}