/* ------------------------------------------------------------------------- *
 *Plugins
/* ------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	color: #fff;
	.widget-title {
		color: #fff;
	}
}

.sidebar .widget.enews-widget {
	background-color: #333;
}

.enews-widget input {
	border: 1px solid #333;
	&:focus {
		border: 1px solid #333;
	}
	font-size: 16px;
	margin-bottom: 16px;
	&[type="submit"] {
		background-color: #e5554e;
		color: #fff;
		margin: 0;
		width: 100%;
	}
	&:hover[type="submit"] {
		background-color: #fff;
		color: #333;
	}
}

.enews form + p {
	margin-top: 24px;
}

/* ## Simple Social Icons
--------------------------------------------- */

.widget.simple-social-icons {
	h4.widget-title {
		float: left;
		margin-bottom: 0px;
	}
	ul.alignright {
		float: right;
		position: relative;
		padding-top: 2px;
		li {
			display: inline-block;
			line-height: 16px;
			font-size: 0px;
			margin: 0px 0px 0px 8px !important;
			a {
				display: block !important;
				padding: 1px !important;
				position: relative;
				text-align: center;
			}
		}
	}
}

/* ## Lightweight Social Icons
--------------------------------------------- */

.widget_lsi_widget {
	h4.widget-title {
		float: left;
		margin-bottom: 0px;
	}
	.lsi-social-icons {
		float: right;
		position: relative;
		padding-top: 2px;
		li {
			display: inline-block;
			line-height: 16px;
			font-size: 0px;
			margin: 0px 0px 0px 8px !important;
			a {
				display: block !important;
				padding: 0px !important;
				position: relative;
				text-align: center;
				&.tooltip {
					color: rgba(255, 255, 255, 0.7);
					font-size: 24px;
					display: inline;
					position: relative;
					z-index: 110;
				}
			}
		}
	}
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/*  plugin : contact form 7
/* ------------------------------------ */

.wpcf7 {
	p {
		color: #222;
		font-weight: 600;
		margin: 0 0 12px;
		width: 100%;
		float: left;
		position: relative;
		span {
			font-weight: 400;
			color: #999;
		}
	}
	label {
		display: block;
		float: left;
		width: 20%;
		margin: 9px 0 0 12px;
		text-align: left;
	}
	input {
		&[type="text"], &[type="email"] {
			display: block;
			float: left;
			padding: 10px;
			width: 100%;
		}
	}
	textarea {
		display: block;
		float: left;
		padding: 10px;
		width: 100%;
	}
	input {
		&[type="text"], &[type="email"] {
			background: #f5f5f5;
			margin-top: 12px;
		}
	}
	textarea {
		background: #f5f5f5;
		margin-top: 12px;
	}
	input[type="submit"] {
		width: 100%;
		padding: 10px 0;
		font-size: 18px;
	}
	div {
		&.wpcf7-validation-errors {
			border: none;
			margin: 0;
			padding: 0;
		}
		&.wpcf7-mail-sent-ok, &.wpcf7-mail-sent-ng {
			border: none;
		}
		&.wpcf7-response-output {
			margin: 0;
			padding: 0;
		}
	}
	span {
		&.wpcf7-form-control-wrap {
			display: block;
			position: relative;
		}
		&.wpcf7-not-valid-tip {
			background: #f2dede;
			border-color: #e3bfbf;
			color: #b94a48;
			padding: 4px 14px;
			font-size: 12px;
			line-height: 20px;
			position: absolute;
			left: 0;
			top: 12px;
			width: auto;
			right: 0;
			display: block;
		}
	}
}