/*  base : sidebar
/* ------------------------------------ */

.widget {
    color: $color-widget-link;
    font-size: 15px;
    overflow: hidden;
    h4.widget-title {
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 6px 0;
    }
}

.sidebar {
	padding-bottom: 20px;
	position: relative;
	z-index: 2;
        .widget {
            padding: 30px 30px 20px;
        }
        li {
            font-weight: 300;
        }
	.wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
	p {
		float: left;
		color: #fff;
		color: rgba(255, 255, 255, 0.8);
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 24px;
		padding: 3px 0;
	}
	> .widget:first-of-type {
		background-color: #3b8dbd;
		padding: 15px 30px;
		h4 {
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			padding: 3px 0;
		}
	}
}

/* sidebar primary */

.sidebar-primary {
	width: 340px;
	z-index: 2;
	&:hover {
		z-index: 98;
		/* social icons tooltip above header nav */
	}
}

@media only screen and (min-width: 479px) and (max-width: 960px) {
	.sidebar-primary .sidebar-top {
		background: none !important;
		border-bottom: 1px solid #ddd;
		p, .social-links .social-tooltip {
			color: #666;
		}
	}
}

/* sidebar secondary */

.sidebar-secondary {
	width: 260px;
	z-index: 1;
	> .widget:first-of-type {
		background-color: #82b965;
		padding: 15px 30px;
	}
}

@media only screen and (min-width: 479px) and (max-width: 1200px) {
	.sidebar-secondary .sidebar-top {
		background: none !important;
		border-bottom: 1px solid #ddd;
		p {
			color: #666;
		}
	}
}
.widget.simple-social-icons {
	h4.widget-title {
		float: left;
		margin-bottom: 0px;
	}
	ul.alignright {
		float: right;
		position: relative;
		padding-top: 2px;
		li {
			display: inline-block;
			line-height: 16px;
			font-size: 0px;
			margin: 0px 0px 0px 8px !important;
			a {
				display: block !important;
				padding: 1px !important;
				position: relative;
				text-align: center;
			}
		}
	}
}

.widget_lsi_widget {
	h4.widget-title {
		float: left;
		margin-bottom: 0px;
	}
	.lsi-social-icons {
		float: right;
		position: relative;
		padding-top: 2px;
		li {
			display: inline-block;
			line-height: 16px;
			font-size: 0px;
			margin: 0px 0px 0px 8px !important;
			a {
				display: block !important;
				padding: 0px !important;
				position: relative;
				text-align: center;
				&.tooltip {
					color: rgba(255, 255, 255, 0.7);
					font-size: 24px;
					display: inline;
					position: relative;
					z-index: 110;
				}
			}
		}
	}
}