/*  base : sidebar
/* ------------------------------------ */

.sidebar {
	padding-bottom: 20px;
	position: relative;
	z-index: 2;
	.wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
	p {
		float: left;
		color: #fff;
		color: rgba(255, 255, 255, 0.8);
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 24px;
		padding: 3px 0;
	}
	> .widget:first-of-type {
		background-color: #3b8dbd;
		padding: 15px 30px;
		h4 {
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			padding: 3px 0;
		}
	}
}

/* sidebar primary */

.sidebar-primary {
	width: 340px;
	z-index: 2;
	&:hover {
		z-index: 98;
		/* social icons tooltip above header nav */
	}
}

@media only screen and (min-width: 479px) and (max-width: 960px) {
	.sidebar-primary .sidebar-top {
		background: none !important;
		border-bottom: 1px solid #ddd;
		p, .social-links .social-tooltip {
			color: #666;
		}
	}
}

/* sidebar secondary */

.sidebar-secondary {
	width: 260px;
	z-index: 1;
	> .widget:first-of-type {
		background-color: #82b965;
		padding: 15px 30px;
	}
}

@media only screen and (min-width: 479px) and (max-width: 1200px) {
	.sidebar-secondary .sidebar-top {
		background: none !important;
		border-bottom: 1px solid #ddd;
		p {
			color: #666;
		}
	}
}