/* ------------------------------------ */
/*  common : nav
/* ------------------------------------ */

.nav-primary {
	z-index: 99;
	position: relative;
	padding: 0 15px;
	.wrap {
		max-width: 1380px;
		margin: 0 auto;
	}
}

.menu {
	li > a:after, > li > a:after {
		font-family: FontAwesome;
		display: inline-block;
	}
}

/*  header : nav topbar
/* ------------------------------------ */

.nav-primary {
	background: #26272b;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
}

/*  header : nav header
/* ------------------------------------ */

.nav-secondary {
	background: transparent;
	z-index: 97;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 rgba(0, 0, 0, 0.2);
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 15px;
}

/*  footer : nav
/* ------------------------------------ */

.footer-menu {
	background: #fff;
	border-top: 1px solid #eee;
}

/* ------------------------------------------------------------------------- *
 *  Child Menu
/* ------------------------------------------------------------------------- */

.child-menu {
	zoom: 1;
	position: relative;
	padding: 0 0 20px;
	a {
		color: #777;
		font-weight: 600;
		display: block;
		padding: 0 44px;
		&:hover {
			color: #3b8dbd;
		}
	}
	.current_page_item > a {
		background: #fff;
		color: #3b8dbd;
	}
	> li {
		display: none;
		&.current_page_item, &.current_page_parent, &.current_page_ancestor {
			display: block;
		}
		&.current_page_item > ul ul, &.current_page_parent > ul ul, &.current_page_ancestor > ul ul {
			display: none;
		}
		ul {
			li {
				&.current_page_item ul, &.current_page_parent ul, &.current_page_ancestor ul {
					display: block;
				}
			}
			ul {
				background: #f0f0f0;
				border-bottom: 1px solid #ddd;
				border-top: 3px solid #ebebeb;
				border-left: 1px solid #ddd;
				padding: 6px 0;
				a {
					font-size: 15px;
					font-weight: 300;
					padding-top: 7px;
					padding-bottom: 7px;
					margin-bottom: 1px;
					&:hover {
						background: #e9e9e9;
						-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
						box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
					}
				}
				li.current_page_item > a {
					background: #fff;
					-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
					box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
				}
			}
		}
		> {
			a {
				font-size: 20px;
				display: block;
				padding: 20px 30px;
			}
			ul {
				background: #e9e9e9;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding: 10px 0 10px 10px;
				> li > a {
					font-size: 15px;
					background: #f0f0f0;
					border-bottom: 1px solid #ddd;
					border-left: 1px solid #ddd;
					padding: 11px 20px;
					-webkit-box-shadow: inset 0 1px 0 #f9f9f9;
					box-shadow: inset 0 1px 0 #f9f9f9;
					&:before {
						font-family: FontAwesome;
						content: "\f055";
						font-weight: normal;
						font-size: 18px;
						margin-right: 8px;
					}
				}
			}
		}
	}
}

.col-2cl .child-menu > li > ul, .col-3cr .child-menu > li > ul {
	padding-left: 0;
	padding-right: 10px;
}

.col-2cl .child-menu > li > ul > li > a, .col-3cr .child-menu > li > ul > li > a, .col-2cl .child-menu > li ul ul, .col-3cr .child-menu > li ul ul {
	border-left: 0;
	border-right: 1px solid #ddd;
}