/* ------------------------------------------------------------------------- *
 *  Section: Footer
/* ------------------------------------------------------------------------- */

#footer {
	background: #fff;
	color: #777;
	width: 100%;
	a {
		color: #777;
		&:hover {
			color: #ccc;
		}
	}
	.pad {
		padding-bottom: 30px;
	}
}

#footer-ads {
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

#footer #footer-ads .widget {
	padding-bottom: 0;
	font-size: 0;
	line-height: 0;
}

#footer-ads h3 {
	display: none;
}

#footer-widgets {
	padding-top: 20px;
}

#footer-bottom {
	background: #33363b;
	.pad {
		padding-top: 30px;
	}
	a {
		color: #fff;
		color: rgba(255, 255, 255, 0.7);
		&:hover {
			color: #fff;
		}
	}
	#footer-logo {
		display: block;
		margin-bottom: 20px;
		max-height: 50px;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	#copyright, #credit {
		color: #fff;
		color: rgba(255, 255, 255, 0.5);
		font-size: 15px;
		line-height: 1.5em;
	}
	#back-to-top {
		background: #eaeaea;
		color: #777;
		overflow: hidden;
		text-align: center;
		width: 60px;
		height: 30px;
		display: block;
		margin: 0 auto;
		margin: 0 auto -30px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
		-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
		i {
			font-size: 38px;
			position: relative;
			top: -7px;
		}
		&:hover {
			color: #444;
		}
	}
	.social-links {
		padding-top: 10px;
		a {
			color: rgba(255, 255, 255, 0.6);
			&:hover {
				color: #fff;
			}
		}
		.social-tooltip {
			font-size: 28px;
		}
	}
}