/* ------------------------------------------------------------------------- *
 *  Section: Footer
/* ------------------------------------------------------------------------- */

.site-footer {
	background: #33363b;
	a {
		color: #fff;
		color: rgba(255, 255, 255, 0.7);
		&:hover {
			color: #999;
		}
	}
	.creds {
		color: #fff;
		color: rgba(255, 255, 255, 0.5);
		font-size: 15px;
		line-height: 1.5em;
		padding: 30px;
	}
	.gototop {
		background: #eaeaea;
		font: normal normal normal 14px/1 FontAwesome;
		color: #777;
		overflow: hidden;
		text-align: center;
		width: 60px;
		height: 30px;
		display: block;
		margin: 0 auto;
		margin: 0 auto -30px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
		-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
		i {
			font-size: 38px;
			position: relative;
			top: -7px;
			width: 1em;
			text-align: center;
			&.arrow-up::before {
				content: "\f106";
			}
		}
		&:hover {
			color: #444;
		}
	}
}