/* ------------------------------------------------------------------------- *
 *  Base Structure
/* ------------------------------------------------------------------------- */

/*  base : layout
/* ------------------------------------ */

.site-container {
	min-width: 1024px;
	height: 100%;
}

.site-inner {
	max-width: $site-max-width;
	background-color: #f0f0f0;
	margin: -60px auto 0;
	padding: 0;
	margin-bottom: 60px;
}

.content-sidebar-wrap {
	padding-left: 340px;
	padding-right: 260px;
	float: left;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.content {
	background-color: #fff;
	position: relative;
	float: right;
}

/*  base : layout columns
/* ------------------------------------ */

/* 3 column, content middle */

.sidebar-primary {
	float: left;
	margin-left: -340px;
}

.sidebar-secondary {
	float: right;
	margin-right: -260px;
	/* ingenuity! */
	position: relative;
	right: -100%;
}

.content {
	float: right;
}


/*  base : grid
/* ------------------------------------ */

.grid {
	margin-right: 3.2%;
	float: left;
	display: inline;
	position: relative;
}

.last {
	clear: right;
	margin-right: 0 !important;
}

.one-full {
	margin-right: 0;
	width: 100%;
	overflow: hidden;
}

.one-half {
	width: 48.4%;
}

.one-third {
	width: 31.2%;
}

.two-third {
	width: 65.6%;
}

.one-fourth {
	width: 22.6%;
}

.three-fourth {
	width: 74.2%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifth {
	width: 38.1%;
}

.three-fifth {
	width: 58.7%;
}

.four-fifth {
	width: 79.4%;
}